/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Notes
*/

/************************************************************************************
GENERAL STYLING
*************************************************************************************/
body {
	background-color: #f3edf6;
	color: #625f63;
}

a {
	color: #5b3a6c;
}

input[type=text], input[type=password], textarea, input[type=search], input[type=email] {
	background-color: #d9d4dc;
	border-color: #c3bec6;
}

input[type=reset], input[type=submit], button {
	background-color: #563c69;
}


h1, h2, h3, h4, h5, h6 {
	color: #302f31;
}

/************************************************************************************
HEADER
*************************************************************************************/
#site-logo a {
	color: #302f31;
}

#site-description {
	color: #302f31;
}

/* search form */
#header #searchform #s {
	background-color: #31223b;
}

#nav-bar {
	background-color: #563c69;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#main-nav a {
	color: #efded4;
}

/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #31223b;
}

/************************************************************************************
POST
*************************************************************************************/
.post-title a {
	color: #302f31;
}

/************************************************************************************
POST NAVIGATION
*************************************************************************************/
.post-nav .arrow {
	background-color: #563c69;
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav a {
	background-color: #563c69;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #563c69;
}