/*  
Skin Name: Red
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #82070b;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #cd9c9d;
}

/* nav bar */
#nav-bar {
	background-color: #510709;
}

/* search form */
#header #searchform #s {
	background-color: #3f1515;
}

/* site description */
#site-description {
	color: #cd9c9d;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #fbc6ab;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #510709;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #510709;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #cd9c9d;
}