/*  
Skin Name: Lavender
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #624a63;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #c0b7c1;
}

/* nav bar */
#nav-bar {
	background-color: #3d313d;
}

/* search form */
#header #searchform #s {
	background-color: #35292f;
}

/* site description */
#site-description {
	color: #c0b7c1;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #e8c1ea;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #3d313d;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #3d313d;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #c0b7c1;
}