/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Metro
*/

/* default purple color */
#main-nav a,
.tile.default,
.tile-overlay,
.portfolio #load-more a,
.post,
.widget,
.sorting-nav li {
	background-color: #932091;
}

/* body */
body {
	background-color: #5f145f;
}