/*  
Skin Name: Blue
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #2c4551;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #abb5b9;
}

/* nav bar */
#nav-bar {
	background-color: #2b3236;
}

/* search form */
#header #searchform #s {
	background-color: #25282a;
}

/* site description */
#site-description {
	color: #abb5b9;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #a9cad5;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #2b3236;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #2b3236;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #abb5b9;
}