/*  
Skin Name: Gray
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #5b5b5b;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #bdbdbd;
}

/* nav bar */
#nav-bar {
	background-color: #4b4f4f;
}

/* search form */
#header #searchform #s {
	background-color: #2d2826;
}

/* site description */
#site-description {
	color: #bdbdbd;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #e4e4e4;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #4b4f4f;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #4b4f4f;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #bdbdbd;
}