/*  
Skin Name: Green
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #3a5021;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #a1ab95;
}

/* nav bar */
#nav-bar {
	background-color: #1f2913;
}

/* search form */
#header #searchform #s {
	background-color: #292b1b;
}

/* site description */
#site-description {
	color: #a1ab95;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #c4df9b;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #1f2913;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #1f2913;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #a1ab95;
}