/*  
Skin Name: Black
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #464646;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #b5b5b5;
}

/* nav bar */
#nav-bar {
	background-color: #1f1f1f;
}

/* search form */
#header #searchform #s {
	background-color: #2d2826;
}

/* site description */
#site-description {
	color: #b5b5b5;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #cccccc;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #1f1f1f;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #1f1f1f;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #b5b5b5;
}