/*  
Skin Name: Violet
Version: 1.0
Description: Skin for Wumblr
*/

body {
	background: #561279 url(images/body-bg.png);
	color: #d5c4de;
}
a {
	color: #fefaca;
}
h1, h2, h3, h4, h5, h6 {
	color: #fff;
}
input[type=text], input[type=password], textarea {
	background-color: #905cab;
	color: #fff;
}
input[type=reset], input[type=submit] {
	background-color: #3e0f56;
}
input[type=reset]:hover, input[type=submit]:hover {
	background-color: #000;
}

/* site logo */
#site-logo a {
	color: #fff;
}

/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
/* main level link */
#main-nav a {
	color: #d5c4de;
}
/* main level link :hover */
#main-nav a:hover {
	color: #fefaca;
}
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #3e0f56;
}