/*  
Skin Name: Minimal
Version: 1.0
Description: Skin for Rezo
*/

body {
	background-color: #eee;
	color: #666;
}
#pagewrap {
	background-color: #eee;
}
a {
	color: #000;
}
h1, h2, h3, h4, h5, h6 {
	color: #000;
}
input[type=text], input[type=password], textarea {
	background-color: #eee;
}
input[type=reset], input[type=submit] {
	background-color: #333;
}

/* site logo */
#site-logo a {
	color: #000;
}

/* site description */
#site-description {
	color: #666;
}

/* header-widget */
.header-widget {
	color: #666;
}


/************************************************************************************
SLIDER
*************************************************************************************/
/* default slide */
#slider li.slider-default {
	background-color: #555;
	color: #ccc;
}
.slider-default a {
	color: #fff;
}
.slider-default h3 {
	color: #fff;
	background-color: #000;
}
.slider-default h3 span {
	border-color: #666;
}


/************************************************************************************
MAIN NAVIGATION
*************************************************************************************/
#nav-bar {
	background-color: #000;
}
/* main level link */
#main-nav a {
	color: #ccc;
}
/* main level link :hover */
#main-nav a:hover {
	color: #fff;
}
/* current link */
#main-nav .current_page_item a, #main-nav .current-menu-item a {
	background-color: #3d3d3d;
}

/* social widget */
.social-widget {
	color: #bbb;
}

/* post title */
.post-title a {
	color: #000;
}

/* page nav */
.pagenav .number {
	background-color: #333;
	color: #fff;
}
.pagenav .number:hover {
	background-color: #000;
}
.pagenav .current, .pagenav .current:hover {
	background-color: #fff;
	color: #666;
}


/************************************************************************************
MENU
*************************************************************************************/
.menu-title {
	background-color: #fff;
	color: #000;
	border-bottom: double 4px #ccc;
}
.menu-category {
	color: #444;
	background-color: #f3f3f3;
}


/************************************************************************************
SIDEBAR
*************************************************************************************/
#sidebar .widgetwrap {
	background-color: #f3f3f3;
}
#sidebar .widget {
	border-color: #ccc;
}
#sidebar .widget li {
	border-color: #ccc;
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap {
	background-color: #000;
}
#footer {
	border-color: #555;
	color: #999;
}
#footer a {
	color: #fff;
}

/* footer widget */
#footer .widgettitle {
	color: #fff;
}
#footer li {
	border-color: #333;
}

/* footer text */
.footer-text {
	color: #666;
}
.footer-text a {
	color: #000;
}