/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #362164;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #9f95b5;
}

/* nav bar */
#nav-bar {
	background-color: #23192c;
}

/* search form */
#header #searchform #s {
	background-color: #281d2f;
}

/* site description */
#site-description {
	color: #9f95b5;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #c8b1dc;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #23192c;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #23192c;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #9f95b5;
}