@media screen and (min-width: 1400px) {
	/* single post social share */
	.single-post .sidebar1 .social-share-wrap {
		width: 78px;
		text-align: right;
		float: left;
		position: absolute;
		top: 6px;
		left: -115px;
		margin: 0 1.9em 0 0;
	}
	.single-post .sidebar1 .social-share,
	.single-post .sidebar1 .post-comment {
		display: block;
	}
	.single-post .sidebar1 .social-share .sharrre {
		border-top: 1px solid #b2b2b2;
		clear: both;
		display: block;
		padding: .18em 0;
	}
	.single-post .sidebar1 .sharrre .share {
		font-size: 1.15em;
		float: right;
		margin-right: 0;
		min-width: 1.1em;
		text-align: center;
	}
	.single-post .sidebar1 .post-comment a:before {
		float: right;
		margin-left: .55em;
		margin-right: auto;
		line-height: 1.5em;
	}
	.single-post .sidebar1 .post-comment a:after {
		display: none;
	}

	/* sticky share */
	.single-post .single-wrapper .social-share-wrap.social-share-fixed {
		position: fixed;
		top: 62px;
	}
	.single-post .single-wrapper .social-share-wrap.social-share-absolute {
		position: absolute;
	}
	
	/* single post sidebar-left social share */
	.single-post .sidebar1.sidebar-left .social-share-wrap {
		position: static;
		width: auto;
		text-align: inherit;
		float: none;
	}
	.single-post .sidebar1.sidebar-left .social-share .sharrre {
		border: none;
		clear: none;
		display: inline-block;
		padding: .18em 0;
	}
	.single-post .sidebar1.sidebar-left .sharrre .share {
		font-size: 1.15em;
		min-width: 1.1em;
		text-align: center;
	}
	.single-post .sidebar1.sidebar-left .social-share,
	.single-post .sidebar1.sidebar-left .post-comment {
		display: inline-block;
	}
	.single-post .sidebar1.sidebar-left .post-comment a:before {
		float: none;
		margin-left: auto;
		margin-right: .85em;
		line-height: 1em;
	}
	.single-post .sidebar1.sidebar-left .post-comment a:after {
		display: inline-block;
	}
	
}

@media screen and (max-width: 1200px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	body {
		font-size: 1em;
	}
	body #pagewrap {
		max-width: 100%;
	}
	.pagewidth,
	.full_width .themify_builder_row .row_inner,
	.woocommerce.sidebar-none .pagewidth	{
		max-width: 96%;
	}
	/* Archiev Post full width */
	.sidebar-none.list-post .type-page,
	.sidebar-none .loops-wrapper.list-post .post-meta-top,
	.sidebar-none .loops-wrapper.list-post .post-content,
	.sidebar-none.query-post.list-large-image .pagewidth {
		max-width: 96%;
	}
	.loops-wrapper.list-large-image .post-meta-top,
	.sidebar-none .loops-wrapper.list-large-image .post-content,
	.sidebar-none.query-post .list-large-image .post-content {
		max-width: none;
	}
}

/************************************************************************************
MOBILE NAVIGATION
*************************************************************************************/
/* change max-width to trigger mobile menu (#headerwrap added to override Themify Customize output css) */
@media screen and (max-width: 1000px) { 

	/************************************************************************************
	HEADER
	*************************************************************************************/
	#headerwrap #header {
		height: auto;
		max-width: none;
		padding: 1em 27px;
	}

	/* reset absolute elements to static */
	#headerwrap #site-logo {	
		float: none;
		clear: both;
		margin: 0;
		padding: 0;
	}
		
	/************************************************************************************
	MENU PANEL
	*************************************************************************************/
	#pagewrap #menu-icon {
		display: block;
	}
	/* mobile menu panel link */
	#headerwrap #mobile-menu-panel a {
		text-decoration: none;
	}

	/* main nav */
	#headerwrap #main-nav {
		position: static;
		width: auto;
		height: auto;
		padding: 0;
		margin: 1em 0 3em;
		background: none;
		border: none;
		text-align: left;
		float: none;
		clear: both;
	}
	#headerwrap #main-nav li {
		float: none;
		display: block;
		border: none;
		background: none;
		padding: 0;
		margin: 0;
		clear: both;
	}

	/* sub level */
	#headerwrap #main-nav ul {
		background: none;
		border: none;
		box-shadow: none;
		clear: both;
		display: block;
		position: static;
		width: auto;
		height: auto;		
		margin: 0;
		padding: 0 0 0 1em;
		visibility: visible;
	}
	#headerwrap #main-nav ul li {
		border: none;
		background: none;
		padding: 0;
		margin: 0;
	}
	
	/* menu link */
	#headerwrap #main-nav a, 
	#headerwrap #main-nav ul a {
		width: auto;
		display: block;
		border: none;
		padding: .4em 0;
		margin: 0;
		font-size: 100%;
		font-weight: 600;
		line-height: 1.5em;
		background: none;
		text-decoration: none;
		border-bottom: solid 1px rgba(255,255,255,.3);
	}
	#headerwrap #main-nav > li:last-child a {
		border: none;
	}
	
	/* sub level menu link */
	#headerwrap #main-nav ul a {
		font-weight: normal;
		font-size: .95em;
		color: inherit;
	}
	
	/* sub-menu icon */
	#headerwrap #main-nav .menu-item-has-children > a:after,
	#headerwrap #main-nav ul .menu-item-has-children > a:after {
	    display: none;
	}
	
	/* mega menu */
	#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu, 
	#headerwrap #main-nav .has-mega-column > .sub-menu {
		background: none;
		box-shadow: none;
	}
	#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu {
		position: static;
		display: block;
		border: none;
		min-height: 0;
		max-height: none;
		margin: 0;
		width: auto;
	}
	#headerwrap #main-nav .has-sub-menu > a:after,
	#headerwrap #main-nav .has-mega-sub-menu > a:after,
	#headerwrap #main-nav .mega-sub-menu li a:after,
	#headerwrap #main-nav .mega-menu-posts {
		display: none;
	}
	#headerwrap #main-nav .has-mega-sub-menu .mega-sub-menu ul {
		height: auto;
		width: auto;
		float: none;
	}
	#headerwrap #main-nav .has-mega-sub-menu:hover .mega-sub-menu ul {
		display: block;
	}
	
	/* mega column */
	#headerwrap #main-nav .has-mega-column > ul.sub-menu {
		display: block;
		position: static;
		background: none;
		padding: 0;
		margin: 0 0 0 1em;
		border: none;
		width: auto;
		max-height: none;
		max-width: none;
		overflow: inherit;
	}
	#headerwrap #main-nav .has-mega-column > .sub-menu > li {
		width: 100%;
		float: none;
		margin-left: 0;
		margin-bottom: 1em;
	}
	#headerwrap #main-nav .has-mega-column .sub-menu > li > a {
		text-transform: none;
		margin: 0;
	}
	#headerwrap #main-nav .mega-sub-menu li:after {
		content: '';
	}
		
	/* 
	SEARCH FORM
	================================================ */
	#headerwrap #searchform-wrap {
		float: none;
	}
	#headerwrap #searchform {
		position: relative;
		left: auto;
		right: auto;
		top: auto;
		bottom: auto;
		float: none;
		clear: both;
		margin: 0 0 1em;
		padding: 0;
		width: auto;
		border-left: none;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
	#headerwrap #searchform #s  {
		width: 100%;
		float: none;
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
		opacity: 1;
		background: none;
		border-bottom: 1px solid;
	}
	#headerwrap #searchform #s:focus,
	#headerwrap #searchform #s:hover,
	#headerwrap #searchform .icon-search:hover + #s {
		width: 100%;
		color: #000;
		background: none;
	}

	#headerwrap #searchform .icon-search:before {
		padding: 0;
		right: 10px;
		top: 4px;
	}

	/* 
	SOCIAL WIDGET
	================================================ */
	#headerwrap .social-widget {
		margin: 0 0 1em;
		position: static;
		float: none;
	}
	#headerwrap .social-widget .widgettitle {
		display: block;
		margin: 0 0 .4em;
	}
	
	#headerwrap .social-widget,
	#headerwrap #searchform-wrap,
	#headerwrap #main-nav {
		display: none;
	}
	#headerwrap .sidemenu .social-widget,
	#headerwrap .sidemenu #searchform-wrap,
	#headerwrap .sidemenu #main-nav {
		display: block;
	}

}

@media screen and (max-width: 800px) {
	
	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	.loops-wrapper.grid4 .post {
		width: 48.4%; /* change grid4 to 2 columns */
	}
	.loops-wrapper.grid4 .post:nth-of-type(2n+1) {
		margin-left: 0;
		clear: left;
	}

}

@media screen and (max-width: 760px) {

	/************************************************************************************
	STRUCTURE
	*************************************************************************************/
	.pagewidth,
	.full_width .themify_builder_row .row_inner,
	.woocommerce.sidebar-none .pagewidth	{
		max-width: 90%;
	}
	#pagewrap #content {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
	}
	
	/* sidebar */
	#pagewrap #sidebar {
		width: 100%;
		max-width: 100%;
		float: none;
		clear: both;
		padding: 76px 0;
	}
	
	/* Archiev Post full width */
	.sidebar-none.list-post .type-page,
	.sidebar-none .loops-wrapper.list-post .post-meta-top,
	.sidebar-none .loops-wrapper.list-post .post-content,
	.sidebar-none.query-post.list-large-image .pagewidth {
		max-width: 90%;
	}
	
	.loops-wrapper.list-large-image .post-meta-top,
	.sidebar-none .loops-wrapper.list-large-image .post-content,
	.sidebar-none.query-post .list-large-image .post-content {
		max-width: none;
	}

	/************************************************************************************
	 WOOCOMMERCE
	*************************************************************************************/
	.woocommerce .col2-set .col-1,
	.woocommerce .col2-set .col-2,
	.woocommerce-page .col2-set .col-1,
	.woocommerce-page .col2-set .col-2 {
		float:none;
		width:100%;
	}
	.woocommerce .cart-collaterals .cart_totals,
	.woocommerce .cart-collaterals .cross-sells,
	.woocommerce .cart-collaterals .shipping_calculator,
	.woocommerce-page .cart-collaterals .cart_totals,
	.woocommerce-page .cart-collaterals .cross-sells,
	.woocommerce-page .cart-collaterals .shipping_calculator {
		width:100%;
		float:none;
		text-align: left;
	}
	.woocommerce ul.products {
		width: auto;
		margin-left: -8%;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		width: 42%;
		margin: 0 0 2.992em 8%;
		float: left;
		clear: both;
	}
	.woocommerce ul.products li.product:nth-child(2n),
	.woocommerce-page ul.products li.product:nth-child(2n) {
		float: right;
		clear: none!important;
	}
	.woocommerce ul.products li.product,
	.woocommerce-page ul.products li.product {
		min-height: inherit;
	}

}

@media screen and (max-width: 680px) {
	
	/************************************************************************************
	HEADING
	*************************************************************************************/
	.page-title,
	h1 {
		font-size: 2.2em;
	}
	h2 {
		font-size: 2em;
	}
	h3 {
		font-size: 1.6em;
	}
	h4 {
		font-size: 1.4em;
	}
	h5 {
		font-size: 1.2em;
	}
	h6 {
		font-size: 1.1em;
	}

	/************************************************************************************
	GRID
	*************************************************************************************/
	.col4-1,
	.col4-2, .col2-1,
	.col4-3,
	.col3-1,
	.col3-2	 {
		margin-left: 0;
		width: 100%;
		max-width: 100%;
	}
	
	/************************************************************************************
	HEADER
	*************************************************************************************/
	/* prevent logo img extend the fixed header on mobile */
	.has-fixed-header #headerwrap #site-logo img {
		width: auto;
		max-height: 40px;
	}

	/************************************************************************************
	POST LAYOUTS
	*************************************************************************************/
	/* all post */
	.shortcode.loops-wrapper.list-post .post,
	.shortcode.loops-wrapper.grid4 .post,
	.shortcode.loops-wrapper.grid3 .post,
	.shortcode.loops-wrapper.grid2 .post,
	.shortcode.grid2-thumb .post,
	.shortcode.list-thumb-image .post,
	.shortcode.list-large-image .post,
	.loops-wrapper.list-post .post,
	.loops-wrapper.grid4 .post,
	.loops-wrapper.grid3 .post,
	.loops-wrapper.grid2 .post,
	.loops-wrapper.grid2-thumb .post,
	.loops-wrapper.list-thumb-image .post,
	.loops-wrapper.list-large-image .post {
		width: 100%;
		margin-left: 0;
		float: none;
	}

	/* all post title */
	.post-title,
	.loops-wrapper.list-post .post-title,
	.loops-wrapper.grid4 .post-title,
	.loops-wrapper.grid3 .post-title,
	.loops-wrapper.grid2 .post-title,
	.loops-wrapper.grid2-thumb .post-title,
	.loops-wrapper.list-thumb-image .post-title,
	.loops-wrapper.list-large-image .post-title,
	.loops-wrapper.slider .post-title {
		font-size: 2.3em;
	}
	.loops-wrapper.grid2-thumb .post-meta-top + .post-content .post-title,
	.loops-wrapper.list-thumb .post-meta-top + .post-content .post-title,
	.loops-wrapper.list-large-image .post-meta-top + .post-content .post-title{
		margin-top: auto;
	}
	.loops-wrapper.list-post .post-image + .post-content .post-title,
	.single-post .post-image + .post-content .post-title {
		margin-top: .5em;
		margin-bottom: .5em;
	}
	.loops-wrapper.list-post .post-title,
	.post-meta-top + .post-content .post-title,
	.loops-wrapper.grid3 .post-meta-top + .post-content .post-title {
		margin-top: -.9em;
	}
	.loops-wrapper.list-post .post-meta-top,
	.single-post .post-meta-top {
		margin-bottom: 0;
	}
	.single-post .single-wrapper.full_width.sidebar-none:first-child .post-meta-top {
		margin-bottom: 2em;
	}
	
	/* all post image */
	.loops-wrapper.list-post .post-image,
	.loops-wrapper.grid4 .post-image,
	.loops-wrapper.grid3 .post-image,
	.loops-wrapper.grid2 .post-image,
	.loops-wrapper.list-large-image .post-image {
		float: none;
		position: static;
		width: auto;
		overflow: visible;
	}
	
	.loops-wrapper.list-large-image .post-video,
	.loops-wrapper.list-large-image .post-image {
		max-width: none;
		margin-right: 0;
		float: none;
	}

	/* all post content */
	.loops-wrapper.grid2-thumb .post-content,
	.loops-wrapper.list-thumb-image .post-content {
		overflow: visible;
	}

	/* slider post */
	.loops-wrapper.slider .post-content {
		position: static;
		background-color: #000;
		padding-top: 10px;
		padding-bottom: 5px;
	}
	.loops-wrapper.slider .post-meta {
		position: static;
	}
	
	/* all entry content */
	.enable-drop-cap.single-post .entry-content > p:first-child:first-letter {
		font-size: 3.5em;
		line-height: .55em;
		padding: .2em .2em .2em 0;
	}
	
	/* post meta top */
	.post-category {
		font-size: 1.05em;
		padding: .5em 1.5em .5em 0;
	}
	.post-category:after {
		height: 27px;
		margin-left: 1.05em;
		margin-right: .9em;
	}
	.post-tag {
		padding: .5em 1.1em .2em 0;
	}
	.sidebar-none .loops-wrapper .post-meta-top .post-category {
		padding-left: 1.1em;
		margin-right: -12px;
	}
	.sidebar-none .loops-wrapper .post-meta-top .post-tag,
	.sidebar-none.query-post .post-meta-top .post-tag {
		padding: .5em 1.1em .2em 0;
	}
	
	/* post meta */
	.loops-wrapper.list-post .post-meta,
	.single-post .post-meta {
		font-size: .75em;
	}
	.loops-wrapper.list-post .post-meta .author-avatar img,
	.single-post .post-meta .author-avatar img,
	.post-meta .author-avatar img {
		width: 37px;
		height: 37px;
		margin-right: 1em;
	}
	.loops-wrapper.list-post .post-date,
	.single-post .post-date,
	.post-date {
		font-size: 1.15em;
	}
	.loops-wrapper.list-post .post-meta .author,
	.single-post .post-meta .author,
	.post-meta .author {
		margin-top: 0;
	}
	
	.author-box .author-avatar {
		width: 37px;
		height: 37px;
		margin-right: 1em;
	}
	.author-bio .author-name {
		font-size: 1.3em;
	}

	/************************************************************************************
	POST NAV
	*************************************************************************************/
	.post-nav .prev, 
	.post-nav .next {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 20px;
	}
	
	/************************************************************************************
	COMMENTS
	*************************************************************************************/
	.commentlist {
		padding-left: 0;
	}
	.commentlist .commententry {
		clear: left;
	}
	.commentlist .avatar {
		float: left;
		width: 40px;
		height: 40px;
		margin: 0 1em 1em 0;
	}
	.comment-title, .comment-reply-title {
		font-size: 1.4em;
	}
	#respond #cancel-comment-reply-link {
		top: 38px;
	}
	
	/************************************************************************************
	SOCIAL SHARE SHORTCODE
	*************************************************************************************/
	.loops-wrapper.list-post .social-share-wrap,
	.single-post .social-share-wrap {
		float: none;
		width: auto;
		text-align: inherit;
		margin: 0 0 .9em;
	}
	.loops-wrapper.list-post .social-share,
	.single-post .social-share {
		display: inline-block;
	}
	.loops-wrapper.list-post .post-comment,
	.single-post .post-comment,
	.loops-wrapper.list-post .social-share .sharrre,
	.single-post .social-share .sharrre {
		display: inline-block;
		vertical-align: middle;
		border: none;
		padding: 0;
	}
	.loops-wrapper.list-post .sharrre .share,
	.single-post .sharrre .share,
	.loops-wrapper.list-post .sharrre .count,
	.single-post .sharrre .count {
		float: none;
		display: inline-block;
		vertical-align: middle;
		margin-right: .55em;
	}
	.loops-wrapper.list-post .sharrre .share,
	.single-post .sharrre .share {
		margin-left: 0;
		min-width: 1.1em;
	}
	.loops-wrapper.list-post .post-comment a:before,
	.single-post .post-comment a:before,
	.post-comment a:before {
		float: none;
		margin: auto;
		margin-right: .55em;
		line-height: 1em;
	}
	.loops-wrapper.list-post .post-comment a:after,
	.single-post .post-comment a:after {
		display: inline-block;
	}

}