/*  
Skin Name: Orange
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #d93318;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #f0ada3;
}

/* nav bar */
#nav-bar {
	background-color: #843903;
}

/* search form */
#header #searchform #s {
	background-color: #592219;
}

/* site description */
#site-description {
	color: #f0ada3;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #fed7a5;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #843903;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #843903;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #f0ada3;
}