/*  
Skin Name: Pink
Version: 1.0
Description: Skin for Bold
*/

body {
	color: #333;
	background-color: #ffb6e7;
}

/* color reset */
a {
	color: #000;
}
#site-logo a,
#site-description,
#main-nav a {
	color: #fff;
}
#main-nav a:hover,
#main-nav li:hover > a,
#main-nav .current_page_item a,
#main-nav .current_page_item a:hover {
	color: #631c4b;
}

/* headerwrap and footerwrap */
#headerwrap {
	border-color: #a82f80;
}
#footerwrap {
	border-top: 1px solid #a82f80;
}

#headerwrap,
#footerwrap {
	color: #fff;
	background-color: #d13b9f;
}

/* header */
#site-description {
	border-color: #dd58b1;
}

#header #searchform #s {
	background-color: #ecb0d8;
	background-color: rgba(255,255,255,.6);
	color: #a57b97;
}
#header #searchform #s:focus {
	color: #fff;
}

/* footer */
#footer,
#footer a,
.footer-text {
	color: #fff;
	color: rgba(255,255,255,.6);
}

/* form input and buttons */
input[type=text],
input[type=password],
textarea,
input[type=search],
input[type=email] {
	background-color: #e5a3cf;
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover {
	color: #fff;
	background-color: #444;
}

/* load more button and page navigation */
#load-more a,
.post-nav .arrow,
.pagenav a {
	background-color: #333;
}

/* horizontal rule and commentlist */
hr,
.commentlist,
.commentlist .commententry {
	border-color: #e5a3cf;
}