/*  
Skin Name: Purple
Version: 1.0
Description: Skin for Bold
*/

body {
	color: #000;
	background-color: #daa6eb;
}

/* color reset */
a,
#main-nav a:hover,
#main-nav li:hover > a,
#main-nav .current_page_item a,
#main-nav .current_page_item a:hover {
	color: #000;
}
#site-logo a,
#site-description,
#main-nav a {
	color: #fff;
}

/* headerwrap and footerwrap */
#headerwrap {
	border-color: #54056f;
}
#footerwrap {
	border-top: 1px solid #54056f;
}

#headerwrap,
#footerwrap {
	color: #fff;
	background-color: #730797;
}

/* header */
#site-description {
	border-color: #8708b1;
}

#header #searchform #s {
	background-color: #c69bd5;
	background-color: rgba(255,255,255,.6);
	color: #8a6c94;
}
#header #searchform #s:focus {
	color: #fff;
}

/* footer */
#footer,
#footer a,
.footer-text {
	color: #fff;
	color: rgba(255,255,255,.6);
}

/* form input and buttons */
input[type=text],
input[type=password],
textarea,
input[type=search],
input[type=email] {
	background-color: #c294d1;
}
input[type=reset]:hover,
input[type=submit]:hover,
button:hover {
	color: #fff;
	background-color: #444;
}

/* load more button and page navigation */
#load-more a,
.post-nav .arrow,
.pagenav a {
	background-color: #333;
}

/* horizontal rule and commentlist */
hr,
.commentlist,
.commentlist .commententry {
	border-color: #c294d1;
}