/*  
Skin Name: Pink
Version: 1.0
Description: Skin for Suco
*/

body {
	background-color: #e34376;
}

/************************************************************************************
HEADER
*************************************************************************************/
#header {
	color: #f8c7db;
}

/* nav bar */
#nav-bar {
	background-color: #a12e5c;
}

/* search form */
#header #searchform #s {
	background-color: #5c2735;
}

/* site description */
#site-description {
	color: #f8c7db;
}

/************************************************************************************
UPPER WRAP
*************************************************************************************/
#upperwrap {
	background-color: #fcd9ed;
}

/************************************************************************************
HOME HIGHLIGHTS
*************************************************************************************/
.home-highlightswrap {
	background-color: #a12e5c;
}

/************************************************************************************
FOOTER WIDGETS
*************************************************************************************/
.footer-widgetswrap {
	background-color: #a12e5c;
}

/************************************************************************************
Footer
*************************************************************************************/
#footer {
	color: #f8c7db;
}