/*  
Skin Name: Green
Version: 1.0
Description: Skin for Sidepane.
*/

/* body link */
a {
	color: #5e7d36;
}

/* form element */
input[type=reset], input[type=submit] {
	background-color: #73924c;
	color: #fff;
}

/* main nav wrap */
#main-nav-wrap {
	border-color: #8fa870;
}

/* sidebar */
#sidebar-wrap {
	background: url(images/side-bg.png) repeat-y fixed;
}
#sidebar {
	background: none;
	color: #d5dfca;
}
#sidebar a {
	color: #FFC;
}
#sidebar a:hover {
	color: #fff;
}

/* sidebar form elements */
#sidebar input[type=text], #sidebar input[type=password], #sidebar textarea {
	background-color: #abbe94;
	color: #333;
}

/* sidebar widget */
#sidebar .widget ul, #sidebar .widget li {
	border-color: #8fa870;
}

/* site logo */
#site-logo a {
	color: #fff;
}
